<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Geofence</title>
    <link rel="shortcut icon" href="#">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../static/pure/pure-min.css" rel="stylesheet">
    <link href="../static/leaflet/leaflet.css" rel="stylesheet"/>
    <link href='../static/geofence/css/style.css' rel='stylesheet'/>
</head>
<body>
    <div class="pure-g">
        <div class="pure-u-4-5">
            <div id='map'></div>
        </div>
        <div class="pure-u-1-5">
            <div id="side-bar">
                <form id="search-form" class="pure-form pure-form-stacked">
                    {% csrf_token %}
                    <fieldset>
                        <label for="search-radius">Search Radius</label>
                        <input id="search-radius" type="number" required/>
                        <button type="submit" class="pure-button pure-button-primary">Search</button>
                    </fieldset>
                </form>
                <input type="text" id="search-input" placeholder="Search for Name.."/>
                <table id="side-table" class="pure-table">
                    <tbody></tbody>
                </table>
            </div>

        </div>
    </div>
</body>
    <script src='../static/leaflet/leaflet.js'></script>
    <script src='../static/geofence/js/script.js'></script>
</html>